*.bmp
*.csv
*.jpg
*.mat
*.zip
*.pdf
*.npz
*.h5
*.ini
*.json
*.png
*.ods
*.tar
*/Before/*
Before/*
*/Test Images/*
Test Images/*
*/.vscode/*
.vscode/*
*/pandas/*
pandas/*
*/__pycache__/*
__pycache__/*
*/runs/*
runs/*
